.add-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.add-profile-field {
  margin-top: 20px;
  margin-left: 15px;
}

.profile-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
